@mixin condicion ($fontif) {
    color: $fontif;

    @if $fontif == black {
        font-size: 200px;
    } @else {
        font-size: 50px;
    }
}

.sz.cond {
    @include condicion (red)
}

.sz.else {
    @include condicion (black)
}