$p-general: 100px;

footer {
    padding-top: $p-general;
    word-spacing: 5px;
    background-image: linear-gradient(to bottom, white, rgb(197, 145, 76));
    text-decoration: none;
    color: nth(maps, 1);
}

.footer {
    padding-top: 10px;
    word-spacing: 10px;
    color: nth(maps, 1);

}

.right {
    padding-bottom: 40px;
    margin-left: 1260px;
}

.since {
    font-size: 80%;
    text-decoration: none;
    color: nth(maps, 1);
}

.contacto {
    text-decoration-color: none;
    text-decoration: none;

}

/* MOBILE styles */

@media only screen and (max-width: 500px) {
    .right {
        display: none;
    }
}

/* Fin MOBILE styles */

/* TABLET styles */

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .right {
        display: none;
    }
}

/* Fin TABLET styles */