$p-general: 100px;

footer {
    padding-top: $p-general;
    word-spacing: 5px;
    background-image: linear-gradient(to bottom, white, rgb(197, 145, 76));
    text-decoration: none;
    color: nth(maps, 1);
}

.footer {
    padding-top: 20px;
    word-spacing: 10px;
    color: nth(maps, 1);

}

.footer-media {
    padding-top: 20px;
    word-spacing: 25px;
}

.right {
    position: fixed;
    right: 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    top: 80%;

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.wp-icon {
    text-decoration: none;
    padding: .7rem;
    display: flex;
    margin-bottom: 20px;
}

.since {
    font-size: 80%;
    text-decoration: none;
    color: nth(maps, 1);
    padding-top: 10px;
}

.contacto {
    text-decoration-color: none;
    text-decoration: none;

}


/* MOBILE styles 

@media only screen and (max-width: 500px) {
    .right {
        
    }
}

/* Fin MOBILE styles */

/* TABLET styles 

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .right {
        
    }
}

/* Fin TABLET styles */