$p-general: 150px;

.logo-navbar {
    padding: 0;
    margin: 0;
    width: 120px;
    height: 120px;
}

.container {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}