$theme-colors: (negro: rgb(58, 55, 55),
    blanco: #f1f1f1,
    salmon: rgb(252, 118, 118),
    gris: rgb(194, 194, 194),
    azul: rgb(89, 89, 153),
    verde: rgb(61, 100, 61),
    amarillo: rgb(209, 209, 89),
    gradient: rgb(197, 145, 76),
)